# Environment files
.env

# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/

# Temporary files
tmp/
temp/

# OS files
.DS_Store
Thumbs.db

# Ignore uploaded files
uploads/
storage/
public/uploads/
